<div class="fluid-container">
  <div class="header">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <!-- Brand/logo -->
      <a class="navbar-brand" href="#">Logo</a>

      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="employee-registration" routerLinkActive="active-tab">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="employe-list" routerLinkActive="active-tab">Employee List</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="body">
    <!-- main body -->
  </div>
</div>

<router-outlet></router-outlet>